<div data-role="page"> 
  <div data-role="header">
    <a href="<%= root_path %>" data-icon="back">Back</a>
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Checkout</h1>
  </div>
  <div data-role="content" style="padding-top: 0px">
    <h3>Items</h3>

    <div>
      <% if @grouped_items.empty? %>
        <%= 'No items yet, ' if @grouped_items.empty? %><%= link_to 'buy some?', root_path %>
      <% end %>
    </div>

    <ul data-role="listview" data-theme="g" style="margin-bottom: 30px;">
      <%= render :partial => 'grouped_items', :object => @grouped_items %>
      <li class="ui-li ui-li-static ui-body-c ui-li-has-count">
        <div class="ui-grid-a">
          <div class="ui-block-a">TOTAL to Pay</div>
          <div class="ui-block-b"><%= number_to_currency @grouped_items.sum{|name, items| items.size * price(name)} %></div>
        </div>
        <span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><%= @grouped_items.map{|name, items| items.size}.sum %></span>
      </li>
    </ul>

    <div>
      <h4>Choose a payment method</h4>
      <p>[DEFAULT] Credit Card: <br/>4111-XXXX-XXXX-XX11</p>
    </div>

    <div>
      <h4>Delivery Address</h4>
      <p>Home: <br/>42 Pleasant St, Wellington</p>
    </div>

    <div>
      <a href="<%= thanks_path %>" data-role="button" data-rel="dialog" data-theme="b">Process Checkout</a>
    </div>

  </div>
  <div data-role="footer">
    <h4 class="" tabindex="0" role="heading" aria-level="1">Made with care</h4>
  </div>
</div>
