<div data-role="page"> 
  <div data-role="header">
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Food Portal</h1>
  </div>
  <div data-role="content" style="padding-top: 0px">
    <h3>Categories</h3>
    <div class="ui-grid-b">
      <% ['Fruit & Vege', 'Meat & Fish', 'Wine & Beer', 'Personal care', 'Baby products', 'Canned Food'].each do |category| %>
        <%= content_tag :div, :class => cycle(*('ui-block-a'..'ui-block-c').to_a) do %>
          <div class="ui-bar ui-bar-c" style="height:80px; text-align:center">
            <h4><%= category %></h4><br/>
            <%= tactile_image(category, :style => 'width: 60px;') %>
          </div>
        <% end %>
      <% end %>
    </div>


    <h3>Items</h3>
    <div class="ui-grid-a">
      <% ['Tomatoes', 'Salmon 100g', 'Canned <D-r>Soup', 'Nappies'].each do |category| %>
        <%= content_tag :div, :class => cycle(*('ui-block-a'..'ui-block-b').to_a) do %>
          <div class="ui-bar ui-bar-c" style="height:100px; text-align:center">
            <h4><%= category %></h4><br/>
            <%= tactile_image(category) %>
          </div>
          <a href="index.html" data-role="button" data-icon="plus" data-theme="c"><%= number_to_currency rand(10) + rand(1) + rand(0.5) %></a>
        <% end %>
      <% end %>
    </div>

  </div>
  <div data-role="footer">
    <h4 class="" tabindex="0" role="heading" aria-level="1">Made with care</h4>
  </div>
</div>
