<div data-role="page"> 
  <div data-role="header">
    <a href="<%= root_path %>" data-icon="back">Back</a>
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">List</h1>
  </div>
  <div data-role="content" style="padding-top: 0px">
    <h3><%= @current_list %></h3>

    <%= 'No items yet' if @grouped_items.empty? %>
    <ul data-role="listview" data-theme="g" style="margin-bottom: 20px;">
    <% @grouped_items.each do |name, items| %>
      <%= render :partial => 'list_item', :locals => {:name => name, :items => items} %>
    <% end %>
    </ul>

    <% @other_lists.each do |list_name, grouped_items| %>
      <% next if list_name == @current_list %>
      <h3><%= list_name %></h3>
      <%= link_to 'Use', my_lists_path(:selected_list => list_name) %>
      <% grouped_items.each do |name, items| %>
        <%= render :partial => 'list_item', :locals => {:name => name, :items => items} %>
      <% end %>
    <% end %>

    <h3>Create new list</h3>
    <%= form_tag :action => :create_list, :controller => 'home' do %>
      <label for="list_name">List Name:</label>
      <%= text_field_tag 'list_name' %>

      <%= submit_tag 'Create List' %>
    <% end %>

  </div>
  <%= render :partial => 'footer' %>
</div>

