<div data-role="page"> 
  <div data-role="header">
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1"><%= @current_list %></h1>
    <a href="<%= checkout_path %>" class="ui-btn-right" data-icon="arrow-r" data-theme="b">Checkout (<%= @items.size %>)</a>
  </div>
  <div data-role="content" style="padding-top: 0px">
    <h3><%= @current_list %>
    </h3>

    <%= 'No items yet' if @grouped_items.empty? %>
    <ul data-role="listview" data-theme="g" style="margin-bottom: 20px;">
      <%= render :partial => 'grouped_items', :object => @grouped_items %>
    </ul>

    <% @other_lists.each do |list_name, grouped_items| %>
      <% next if list_name == @current_list %>
      <h3><%= list_name %>
      </h3>
      <%= render :partial => 'grouped_items', :object => grouped_items %>
      <%= link_to 'Use this list', my_lists_path(:selected_list => list_name), 'data-role' => 'button', 'data-theme' => 'c', 'data-inline' => 'true'  %>
    <% end %>

    <h3>Create new list</h3>
    <%= form_tag :action => :create_list, :controller => 'home' do %>
      <label for="list_name">List Name:</label>
      <%= text_field_tag 'list_name' %>

      <%= submit_tag 'Create List', 'data-theme' => 'b' %>
    <% end %>

  </div>
  <%= render :partial => 'footer' %>
</div>

